* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
.addtocart{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addtocart-container{
    margin-top: 80px;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 20px;
}
.cart-products{
    background-color: #e8e8e8;
    border-radius: 15px;
    padding: 25px;
}
.cart-products h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 6px;
}
.price-calculation{
    background-color: black;
    border-radius: 15px;
}
.cart-item{
    width: 100%;
    max-height: 20vh;
    display: grid;
    grid-template-columns: auto 70%;
    margin-bottom: 10px;
}
.cart-item .cart-item-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-item .cart-item-image img{
    object-fit: cover;
    max-width: 50%;
}
.cart-item .cart-item-info{
    padding: 50px;
    display: grid;
    row-gap: 5px;
}
.cart-item .cart-item-info h3{
    font-size: 22px;
}
.cart-item .cart-item-info p{
    font-size: 12px;
}
.cart-btn{
    padding: 10px 15px;
    border-radius: .5rem;
    background: rgb(236, 236, 236);
    border: .2rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.cart-operations{
    display: grid;
    grid-template-columns: 30% 30%;
    column-gap: 10px;
}
.cart-btn:hover{
    color: white;
    background: black;
}
.emptycart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.emptycart h1{
    font-size: 30px;
    text-align: center;
    color: black;
}