* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
section {
    padding: 2rem 9%;
}
.addtocart{
    padding: 60px;
}
.addtocart .heading {
    text-align: center;
    /* padding-top: 140px; */
    padding: 40px;
    font-weight: bold;
    font-size: 25px;
}
.addtocart-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
    justify-content: center;
}
.addtocart-product-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.2em;
}
.price-calculation-container{
    background-color: rgb(217, 217, 217);
    border-radius: 15px;
    padding: 20px 40px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    height: 50%;
    display: flex;
    align-items: center;
}
.cart-item{
    border: .1em solid rgb(17, 17, 17);
    border-radius: .5em;
    text-align: center;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 10rem;
}
.cart-item img{
    height: 10rem;
    transform: rotate(0deg);
    filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, .1));
    margin: 1rem 2rem;
}
.cart-item .cart-item-info{
    font-size: 12px;
    padding: 1rem;
}
.cart-item .cart-item-info h3{
    font-size: 18px;
    font-weight: 400;
}
.cart-item .cart-item-info p{
    font-size: 12px;
}
.cart-operations .cart-btn{
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
    background: rgb(236, 236, 236);
    color: rgb(0, 0, .1);
    padding: .4em 2em;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: .5em;
    border: .2rem solid rgba(0, 0, 0, .1);
}
.cart-operations{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.cart-btn:hover{
    color: white;
    background: black;
}
.emptycart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.emptycart h1{
    font-size: 30px;
    text-align: center;
    color: black;
}
.price-calculation-wrapper{
    display: flex;
    row-gap: 10px;
    align-items: center;

}
.price-calculation{
    display: flex;
}
.charges-name{
    display: flex;

}
.charges{
    list-style: none;
    row-gap: 10px;
}
.charges li p{
    font-size: 18px;
}
.charges-name h3{
    border-top: 1px solid black;
    font-size: 24px;
    font-weight: 500;
}
.charges .column{
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.charges .total-price p{
    font-size: 18px;
    color: red;
}
.checkout{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-btn{
    padding: 10px 15px;
    border-radius: .5rem;
    background: rgb(236, 236, 236);
    border: .2rem solid rgba(0, 0, 0, .1);
    font-weight: 500;
    cursor: pointer;
}
.checkout-btn:hover{
    color: white;
    background: black;
}